@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-azul-primario: #1E3A5F;
  --color-azul-primario-oscuro: #2C2D4A;
  --color-rojo-primario: #D32F2F;
  --color-rojo-primario-claro: #E57373;
  --color-azul-primario-claro: #5271A1;
  --color-azul-primario-2claro: #8A9BB5;
  --color-azul-primario-3claro: #E0DFEB;
  --color-gris-claro: #F5F5F5;
  --color-gris-oscuro: #333847;
  --color-negro-suave: #333333;
  --color-blanco-arena: #FFF7F3;  
}

:root {
  
  font-family: Poppins, sans-serif;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-img {
  width: 473px;
  height: 673px;
  flex-shrink: 0;
  border-radius: 250px;
  background: url('./assets/images/main-img-bg.jpeg') lightgray 50% / cover no-repeat;
}
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
}

button {

  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
